In [57]:
import math
import csv

In [58]:
import pandas as pd

df = pd.read_csv("drug200.csv")
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [59]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [61]:
df["Sex_male"]=pd.get_dummies(data=df.Sex,drop_first=True)
df.drop("Sex",inplace=True,axis=1)
df.head()

   Age      BP Cholesterol  Na_to_K   Drug  Sex_male
0   23    HIGH        HIGH   25.355  drugY         0
1   47     LOW        HIGH   13.093  drugC         1
2   47     LOW        HIGH   10.114  drugC         1
3   28  NORMAL        HIGH    7.798  drugX         0
4   61     LOW        HIGH   18.043  drugY         0

In [62]:
bp_encode={"HIGH":3,"LOW":1,"NORMAL":2}
df.BP.value_counts()

HIGH      77
LOW       64
NORMAL    59
Name: BP, dtype: int64

In [63]:
df.BP =df.BP.map(bp_encode)
df.head()

   Age  BP Cholesterol  Na_to_K   Drug  Sex_male
0   23   3        HIGH   25.355  drugY         0
1   47   1        HIGH   13.093  drugC         1
2   47   1        HIGH   10.114  drugC         1
3   28   2        HIGH    7.798  drugX         0
4   61   1        HIGH   18.043  drugY         0

In [64]:
df.Cholesterol.value_counts()

HIGH      103
NORMAL     97
Name: Cholesterol, dtype: int64

In [65]:
cholesterol_map = {'NORMAL': 0, 'HIGH': 1}
df.Cholesterol = df.Cholesterol.map(cholesterol_map)

In [66]:
drug_map = {'drugA': 0, 'drugB': 1, 'drugC': 2, 'drugX': 3, 'drugY': 4}

In [67]:
df.Drug = df.Drug.map(drug_map)
df.head()

   Age  BP  Cholesterol  Na_to_K  Drug  Sex_male
0   23   3            1   25.355     4         0
1   47   1            1   13.093     2         1
2   47   1            1   10.114     2         1
3   28   2            1    7.798     3         0
4   61   1            1   18.043     4         0

In [68]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import tree

In [100]:
x = df.drop('Drug',axis=1)
y = df['Drug']

In [101]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.1,shuffle=True)

In [102]:
tree_model = DecisionTreeClassifier()
tree_model.fit(X=X_train,y=y_train)

DecisionTreeClassifier()

In [103]:
y_predict = tree_model.predict(X_test)

In [104]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,y_predict)

1.0